<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Git Hub app</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            </br>
            Busque uma Conta GITHUB </br>
            <div class="input-group mb-3">
                <input v-model="login" type="text" class="form-control" placeholder="Login do GitHub" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button v-on:click="buscaGitAccount" class="btn btn-outline-secondary" type="button">Pesquisar</button>
                </div>
            </div>
            </br>
            <div v-if="show" class="row">
                <div class="col-4">
                    <img v-bind:src="avatarUrl" width="150" height="180">
                </div>
                <div class="col-sm">
                   Nome: <a v-bind:href="perfilUrl">{{ nome }}</a>  </br>
                   {{ bio }}
                </div>
            </div>
            </br>
            <p v-if="show">Lista de Repositórios</p>
            <div v-if="show" class="row">
                
                <ol>
                    <li v-for="r in repos">
                        {{ r.name }}
                    </li>
                </ol>
            </div>
            <div v-if="falha" class="alert alert-danger" role="alert">
                Error: {{ messageFalha }}
            </div>        
        </div>
        <script src="src/index.js"></script>
    </body>
</html>